$ivory: #f6f5f5;
$pale-blue: #d3e0ea;
$teal: #1687a7;
$jade: #276678;


.ivory {
  color: $ivory;
}

.ivory-background {
  background-color: $ivory;
}

.pale-blue {
  color: $pale-blue;
}

.pale-blue-background {
  background-color: $pale-blue;
}

.teal {
  color: $teal;
}

.teal-background {
  background-color: $teal;
}

.jade {
  color: $jade;
}

.jade-background {
  background-color: $jade;
}