@charset "UTF-8";
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

button {
  border: 1px solid black;
  padding: 10px;
}

button:hover {
  cursor: pointer;
}

button:focus,
form:focus {
  outline: none;
}

img {
  width: 100%;
  overflow: hidden;
  margin: 0;
}

.container-12 {
  display: grid;
  grid-template-columns: repeat(12, minmax(60px, 1fr));
  grid-template-rows: repeat(12, minmax(0, auto));
  grid-column-gap: 20px;
  width: 100%;
  margin: 0 auto;
}
.container-12 .col-start-1 {
  grid-column-start: 1;
}
.container-12 .row-start-1 {
  grid-row-start: 1;
}
.container-12 .col-start-2 {
  grid-column-start: 2;
}
.container-12 .row-start-2 {
  grid-row-start: 2;
}
.container-12 .col-start-3 {
  grid-column-start: 3;
}
.container-12 .row-start-3 {
  grid-row-start: 3;
}
.container-12 .col-start-4 {
  grid-column-start: 4;
}
.container-12 .row-start-4 {
  grid-row-start: 4;
}
.container-12 .col-start-5 {
  grid-column-start: 5;
}
.container-12 .row-start-5 {
  grid-row-start: 5;
}
.container-12 .col-start-6 {
  grid-column-start: 6;
}
.container-12 .row-start-6 {
  grid-row-start: 6;
}
.container-12 .col-start-7 {
  grid-column-start: 7;
}
.container-12 .row-start-7 {
  grid-row-start: 7;
}
.container-12 .col-start-8 {
  grid-column-start: 8;
}
.container-12 .row-start-8 {
  grid-row-start: 8;
}
.container-12 .col-start-9 {
  grid-column-start: 9;
}
.container-12 .row-start-9 {
  grid-row-start: 9;
}
.container-12 .col-start-10 {
  grid-column-start: 10;
}
.container-12 .row-start-10 {
  grid-row-start: 10;
}
.container-12 .col-start-11 {
  grid-column-start: 11;
}
.container-12 .row-start-11 {
  grid-row-start: 11;
}
.container-12 .col-start-12 {
  grid-column-start: 12;
}
.container-12 .row-start-12 {
  grid-row-start: 12;
}
.container-12 .col-end-2 {
  grid-column-end: 2;
}
.container-12 .row-end-2 {
  grid-row-end: 2;
}
.container-12 .col-end-3 {
  grid-column-end: 3;
}
.container-12 .row-end-3 {
  grid-row-end: 3;
}
.container-12 .col-end-4 {
  grid-column-end: 4;
}
.container-12 .row-end-4 {
  grid-row-end: 4;
}
.container-12 .col-end-5 {
  grid-column-end: 5;
}
.container-12 .row-end-5 {
  grid-row-end: 5;
}
.container-12 .col-end-6 {
  grid-column-end: 6;
}
.container-12 .row-end-6 {
  grid-row-end: 6;
}
.container-12 .col-end-7 {
  grid-column-end: 7;
}
.container-12 .row-end-7 {
  grid-row-end: 7;
}
.container-12 .col-end-8 {
  grid-column-end: 8;
}
.container-12 .row-end-8 {
  grid-row-end: 8;
}
.container-12 .col-end-9 {
  grid-column-end: 9;
}
.container-12 .row-end-9 {
  grid-row-end: 9;
}
.container-12 .col-end-10 {
  grid-column-end: 10;
}
.container-12 .row-end-10 {
  grid-row-end: 10;
}
.container-12 .col-end-11 {
  grid-column-end: 11;
}
.container-12 .row-end-11 {
  grid-row-end: 11;
}
.container-12 .col-end-12 {
  grid-column-end: 12;
}
.container-12 .row-end-12 {
  grid-row-end: 12;
}
.container-12 .col-end-13 {
  grid-column-end: 13;
}
.container-12 .row-end-13 {
  grid-row-end: 13;
}
.container-12 .col-end {
  grid-column-end: -1;
}
.container-12 .row-end {
  grid-row-end: -1;
}

.container-8 {
  display: grid;
  grid-template-columns: repeat(12, minmax(60px, 1fr));
  grid-template-rows: repeat(12, minmax(0, auto));
  grid-column-gap: 20px;
  width: 100%;
  margin: 0 auto;
}
.container-8 .col-start-1 {
  grid-column-start: 1;
}
.container-8 .row-start-1 {
  grid-row-start: 1;
}
.container-8 .col-start-2 {
  grid-column-start: 2;
}
.container-8 .row-start-2 {
  grid-row-start: 2;
}
.container-8 .col-start-3 {
  grid-column-start: 3;
}
.container-8 .row-start-3 {
  grid-row-start: 3;
}
.container-8 .col-start-4 {
  grid-column-start: 4;
}
.container-8 .row-start-4 {
  grid-row-start: 4;
}
.container-8 .col-start-5 {
  grid-column-start: 5;
}
.container-8 .row-start-5 {
  grid-row-start: 5;
}
.container-8 .col-start-6 {
  grid-column-start: 6;
}
.container-8 .row-start-6 {
  grid-row-start: 6;
}
.container-8 .col-start-7 {
  grid-column-start: 7;
}
.container-8 .row-start-7 {
  grid-row-start: 7;
}
.container-8 .col-start-8 {
  grid-column-start: 8;
}
.container-8 .row-start-8 {
  grid-row-start: 8;
}
.container-8 .col-start-9 {
  grid-column-start: 9;
}
.container-8 .row-start-9 {
  grid-row-start: 9;
}
.container-8 .col-start-10 {
  grid-column-start: 10;
}
.container-8 .row-start-10 {
  grid-row-start: 10;
}
.container-8 .col-start-11 {
  grid-column-start: 11;
}
.container-8 .row-start-11 {
  grid-row-start: 11;
}
.container-8 .col-start-12 {
  grid-column-start: 12;
}
.container-8 .row-start-12 {
  grid-row-start: 12;
}
.container-8 .col-end-2 {
  grid-column-end: 2;
}
.container-8 .row-end-2 {
  grid-row-end: 2;
}
.container-8 .col-end-3 {
  grid-column-end: 3;
}
.container-8 .row-end-3 {
  grid-row-end: 3;
}
.container-8 .col-end-4 {
  grid-column-end: 4;
}
.container-8 .row-end-4 {
  grid-row-end: 4;
}
.container-8 .col-end-5 {
  grid-column-end: 5;
}
.container-8 .row-end-5 {
  grid-row-end: 5;
}
.container-8 .col-end-6 {
  grid-column-end: 6;
}
.container-8 .row-end-6 {
  grid-row-end: 6;
}
.container-8 .col-end-7 {
  grid-column-end: 7;
}
.container-8 .row-end-7 {
  grid-row-end: 7;
}
.container-8 .col-end-8 {
  grid-column-end: 8;
}
.container-8 .row-end-8 {
  grid-row-end: 8;
}
.container-8 .col-end-9 {
  grid-column-end: 9;
}
.container-8 .row-end-9 {
  grid-row-end: 9;
}
.container-8 .col-end-10 {
  grid-column-end: 10;
}
.container-8 .row-end-10 {
  grid-row-end: 10;
}
.container-8 .col-end-11 {
  grid-column-end: 11;
}
.container-8 .row-end-11 {
  grid-row-end: 11;
}
.container-8 .col-end-12 {
  grid-column-end: 12;
}
.container-8 .row-end-12 {
  grid-row-end: 12;
}
.container-8 .col-end-13 {
  grid-column-end: 13;
}
.container-8 .row-end-13 {
  grid-row-end: 13;
}
.container-8 .col-end {
  grid-column-end: -1;
}
.container-8 .row-end {
  grid-row-end: -1;
}

.ivory {
  color: #f6f5f5;
}

.ivory-background {
  background-color: #f6f5f5;
}

.pale-blue {
  color: #d3e0ea;
}

.pale-blue-background {
  background-color: #d3e0ea;
}

.teal {
  color: #1687a7;
}

.teal-background {
  background-color: #1687a7;
}

.jade {
  color: #276678;
}

.jade-background {
  background-color: #276678;
}

h1, h2, h3, h4, h5, h6 {
  font: 24px/26px Trebuchet, Tahoma, Arial, sans-serif;
}

p,
ul,
li,
span,
div {
  font: 16px/18px Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
}

/*# sourceMappingURL=framework.css.map */
